In [2]:
import pymysql.cursors
import xlsxwriter

In [3]:
db = pymysql.connect(host="localhost", user="root", password="", db="proj_blue_server",charset='utf8mb4',port = 3306)
cursor = db.cursor()

In [7]:
workbook = xlsxwriter.Workbook('complete.xlsx')
worksheet = workbook.add_worksheet()

e1 = []
e2 = []

cursor.execute("SELECT art_newID FROM emotion")
for row in cursor:
    for row2 in row:
        e1.append(row2)

cursor.execute("SELECT art_newID FROM emotion_2")
for row in cursor:
    for row2 in row:
        e2.append(row2)
        
row=1
worksheet.write(0, 0,"1234")
for each_cagetory in e1:
    worksheet.write(row, 0,each_cagetory)
    row = row+1
    
row=1
worksheet.write(0, 1,"5678")
for each_cagetory in e2:
    worksheet.write(row, 1,each_cagetory)
    row = row+1